html, body {
    height: 100%;  
    margin: 0;     
    padding: 0;    
    background-color: rgb(177, 232, 238);

}
.about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: #0f020e;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background: radial-gradient(circle, rgba(177,232,238,0.92) 0%, rgba(149,6,6,1) 100%);
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0 .0);
}
.about-item i{
    font-size: 43px;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background: radial-gradient(circle, rgba(177,232,238,0.92) 0%, rgba(149,6,6,1) 100%);
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background-color: rgb(177, 232, 238);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: rgb(25, 50, 213);
}
.about-item:hover hr{
    background: rgb(177,232,238);
}
.about-item:hover i{
    transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
footer{
    background: radial-gradient(circle, rgba(177,232,238,0.92) 0%, rgba(149,6,6,1) 100%);
    padding: 20px;
}
footer p{
    color: #fff;
}